@tailwind base;
@tailwind components;
@tailwind utilities;


.book_a_date {
    z-index: 10;
    overflow: hidden;
}

.book_a_date:hover::after {
    width: 200%;
}

.book_a_date::after {
    content: "";
    position: absolute;
    top: 0%;
    left: -20%;
    height: 100%;
    width: 0%;
    background-color: #D90000;
    z-index: -1;
    transition: all ease 0.5s;
    -moz-transform: skew(54deg, 0deg);
    -webkit-transform: skew(54deg, 0deg);
    -o-transform: skew(54deg, 0deg);
    -ms-transform: skew(54deg, 0deg);
    transform: skew(54deg, 0deg);
}

.menu_section {
    position: relative;
}

.menu_section::after {
    background: linear-gradient(90deg, rgba(234,179,8,1) 0%, rgba(255,226,0,0) 10%, rgba(251,216,2,0) 90%, rgba(234,179,8,1) 100%);
    content: "";
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
}

@media screen and (max-height: 660px ) and (min-width: 786px) {
    .menu {
        padding-top: 3rem;
    }
}

.form_control span {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    transition: all ease 0.3s;
    background-color: #303030;
    color: rgb(255, 255, 255, 70%);
}

.form_control input[type="text"]:focus + span, 
.form_control input[type="number"]:focus + span, 
.form_control input[type="email"]:focus + span, 
.form_control input[type="text"]:not(:placeholder-shown) + span,
.form_control input[type="number"]:not(:placeholder-shown) + span,
.form_control input[type="email"]:not(:placeholder-shown) + span {
    top: -10px;
    font-size: 0.7rem;
    padding: 0px 0.3rem;
    z-index: 10;
    color: rgb(255, 255, 255);
}

.form_control input[type="date"] + span {
    top: -10px;
    font-size: 0.7rem;
    padding: 0.1rem 0.3rem;
    color: rgb(255, 255, 255);
    z-index: 10;
}